@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #0f0f0f; /* subtle grain background base */
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

